<<<<<<< HEAD
.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
  background-color: red !important;
}








=======
@import url('https://fonts.googleapis.com/css?family=Pacifico');


header {
  display: inline-flex;
}

.date {
  height: 35px;
  margin-top: 43px;
  margin-left: 20px;
}

.xop-section {
	max-width: 1500px;
	margin: 0 auto;
	padding: 1% 2%;
}

.xop-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.xop-grid:after {
	clear: both;
}

.xop-grid:after, .xop-box:before {
	content: '';
	display: table;
}



.xop-grid li {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 7px;
}

.xop-box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.xop-box:hover {
	transform: scale(1.05); 
}

.xop-img-1 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/paint.jpg);
}

.xop-img-2 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/soap.jpg);
}

.xop-img-3 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/flower.jpg);
}

.xop-img-4 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/feather.jpg);
}

.xop-info {
	position: absolute;
	width: inherit;
	height: inherit;
}

.xop-info h3 {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	color: #fff;
	font-size: 42px;
	margin: 0 30px;
	padding: 100px 0 0 0;
	line-height: 1.5;
}

.xop-info p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	padding: 4px 5px;
	margin: 0 30px;
	font-size: 14px;
	line-height: 2;
}
/* @media (min-width: 840px) {
>>>>>>> d8b16f3c0a661dea62c3504c025c22f21505e6fd
.mdl-cell {
    margin: 8px;
    margin-left: 6px;
    width: calc(33.3333333333% - 16px);
}
}

@media (min-width: 840px){
.mdl-grid {
    padding: unset !important;
}
.mdl-grid {
  display: inline-flex !important;
}
}

@media (min-width: 840px){
.mdl-cell--1-col, .mdl-cell--1-col-desktop.mdl-cell--1-col-desktop {
    width: 220px !important;
    height: 220px !important;
}
} */
/* @media (min-width: 840px) {
.mdl-cell--1-col, .mdl-cell--1-col-desktop.mdl-cell--1-col-desktop {
  width: 300px !important;
}
} */
/* 
@media (min-width: 840px) {
erstelltes Stylesheet
.mdl-cell {
  width: 300px;
}
}



  .mdl-cell {
  box-sizing: border-box;
  background-color: #BDBDBD;
  height: 200px;
  padding-left: 8px;
  padding-top: 4px;
  color: white;
}
.mdl-grid:first-of-type .mdl-cell {
  height: 50px;
}


.wrapper {
  display: flex;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 50px;
}

.tableheight {
    height: 90%;
    width: auto;
}
table {
    width: 100%;
  }
  td {
    width: 16.66%;
    position: relative;
  }
  td:after {
    content: '';
    display: block;
    margin-top: 100%;
  }
  td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(216, 0, 65);
  }
   */